<!DOCTYPE html>
<html lang="tr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="INSPIRO" />
    <meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>Enerjikobi</title>
    <!-- Stylesheets & Fonts -->

    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery.mask.min.js"></script>

    @*<link href="~/Scripts/plugins/fontawesome/css/fontawesome.min.css" rel="stylesheet" />*@

    <!-- CSS real-estate STYLE -->

</head>

<body>

    <div>
        @RenderBody()

        <footer id="footer">
            <div class="footer-content">
                <div class="container">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="icon-box effect small clean">
                                <p>
                                    <strong>© 2020 konutelektrigi.com</strong>
                                    <br> Bir Massive Energy hizmetidir.
                                    <br> <a href="https://www.massivenergy.com" target="_blank">massivenergy.com</a>
                                    <br>
                                    <br>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="icon-box effect small clean">
                                <div class="icon">
                                    <a href="#"><i class="fas fa-map-marker-alt"></i></a>
                                </div>
                                <h3>Adres</h3>
                                <p>
                                    <strong>Bilgiyi Ticarileştirme Merkezi</strong>
                                    <br> Fulya Mahallesi Yeşilçimen Sokak
                                    <br> Polat Tower Bağımsız Bölüm, D:430
                                    <br> Şişli/İstanbul
                                    <br>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="icon-box effect small clean">
                                <div class="icon">
                                    <a href="#"><i class="icon-phone"></i></a>
                                </div>
                                <h3>İletişim Bilgileri</h3>
                                <p>
                                    <strong>Telefon:</strong>
                                    <br> (123) 456-7890
                                    <br>
                                    <strong>Mail:</strong>
                                    <br> info@massivenergy.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Social icons -->
                            <div class="social-icons social-icons float-left">
                                <ul>
                                    <li class="social-instagram"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li class="social-twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li class="social-medium"><a href="#"><i class="fab fa-medium"></i></a></li>
                                    <li class="social-linkedin"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                            <!-- end: Social icons -->
                        </div>

                    </div>
                </div>
            </div>
        </footer>
    </div>

</body>

</html>
