@{
    ViewBag.Title = "Home Page";
}

<style>
    #overlay {
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        display: none;
        background: rgba(0,0,0,0.6);
    }

    .cv-spinner {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spinner {
        width: 40px;
        height: 40px;
        border: 4px #ddd solid;
        border-top: 4px #2e93e6 solid;
        border-radius: 50%;
        animation: sp-anime 0.8s infinite linear;
    }

    @@keyframes sp-anime {
        100% {
            transform: rotate(360deg);
        }
    }

    .is-hide {
        display: none;
    }
</style>

<!-- FORM -->
<div class="background-grey">
    <div class="container p-t-60 p-b-60">
        <div class="row">
            <div class="container">
                <div class="row">

                    <div class="col text-dark p-40">
                        <div class="text-medium text-center">TARİFE DANIŞMANLIK HİZMETİ</div>
                        <div class="text-small text-center">Aşağıdaki formu doldurun ve elektrik faturanızda %15'e varan indirimden faydalanın.</div>
                        </br></br></br>

                        @using (Html.BeginForm("CustomerRequest", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @*<div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="name">Ad</label>
                                        <input type="text" aria-required="true" name="FirstName" class="form-control" placeholder="Adınızı Giriniz">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="email">Soyad</label>
                                        <input type="text" aria-required="true" name="LastName" class="form-control" placeholder="Soyadınızı Giriniz">
                                    </div>
                                </div>*@
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="subject">Telefon Numarası</label>
                                    <input id="PhoneNumber" type="tel" name="PhoneNumber" class="form-control" placeholder="Telefon Numaranızı Giriniz">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="subject">Email</label>
                                    @Html.TextBox("Email", "", new { @class = "form-control", type = "email", placeholder = "example@hotmail.com" })
                                </div>
                                @*<div class="form-group col-md-6">
                                        <label for="subject">Şirket</label>
                                        <input type="text" name="CompanyName" class="form-control" placeholder="Şirketinizin Adını Giriniz">
                                    </div>*@
                            </div>
                            <div class="row">
                                @*<div class="form-group col-md-6">
                                        <label for="subject">Aylık Ortalama Elektrik Faturanız</label>
                                        <input id="AvarageElectricityBill" type="text" name="AverageElectricityBill" class="form-control" placeholder="Aylık Ortalama Elektrik Faturanızı Giriniz">
                                    </div>*@
                                @*<div class="form-group col-md-6">
                                        <label for="gender">Abone Grubu</label>
                                        <select class="form-control" name="SubscriberGroupId" required>
                                            <option value="">Abone Grubunuzu Seçiniz </option>
                                            <option value="1">İş Yeri</option>
                                            <option value="2">Sanayi</option>
                                            <option value="3">Mesken</option>
                                        </select>
                                    </div>*@
                            </div>
                            @*<div class="row">
                                <div class="form-row">
                                    <div class="form-group">
                                        <label for="telephone">Son 2 Elektrik Faturanızın Resmini Yükleyiniz</label>
                                        <button class="add btn btn-md">
                                            Dosya Yükle
                                        </button>
                                        <ul class="list">
                                        </ul>
                                    </div>
                                </div>
                            </div>*@
                            <div class="text-right">
                                <button id="saveCustomerRequest" type="submit" class="btn btn-lg">Formu İlet</button>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- end: FORM -->
    <!-- PROPERTY FEATURES -->
    <section id="section2" class="p-t-100">
        <div class="container">
            <div class="heading-text heading-section text-center">
                <h2>Nasıl Çalışır?</h2>
                <span class="lead">Dijitalleştirilmiş ve kolaylaştırılmış sözleşme değişimini sağlıyoruz.</span>
            </div>
            </br>

            <div class="row">
                <div class="col-lg-4">
                    <div class="icon-box effect medium square color">
                        <div class="icon"> <a href="#"><i class="fa fa-home"></i></a> </div>
                        <h3>Fatura Bilgisi</h3>
                        <p>Fatura bilginizi veya fotoğrafını bizimle paylaşın.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="icon-box effect medium square color">
                        <div class="icon"> <a href="#"><i class="fa fa-bed"></i></a> </div>
                        <h3>İnceleme</h3>
                        <p>Enerji uzmanlarımız tüketiminizi sizin için analiz etsin.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="icon-box effect medium square color">
                        <div class="icon"> <a href="#"><i class="fa fa-calendar"></i></a> </div>
                        <h3>Uygun Teklifler</h3>
                        <p>Tüketim projeksiyonuna en uygun teklifleri sizin için toplayalım.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="icon-box effect medium square color">
                        <div class="icon"> <a href="#"><i class="fa fa-car"></i></a> </div>
                        <h3>Tarife Analizi</h3>
                        <p>Tüketim trendinizi inceleyelim ve uygun tarifeyi belirleyelim.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="icon-box effect medium square color">
                        <div class="icon"> <a href="#"><i class="fa fa-h-square"></i></a> </div>
                        <h3>Raporlama</h3>
                        <p>Her ay fatura verilerinizi inceleyerek elde ettiğiniz karı ve potansiyelinizi size bildirelim.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="icon-box effect medium square color">
                        <div class="icon"> <a href="#"><i class="fa fa-wheelchair"></i></a> </div>
                        <h3>Hizmet Alımı</h3>
                        <p>Bu analizlerle sizleri hizmet alacağınız elektirik tedarik firmanizla buluşturalım.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end: PROPERTY FEATURES -->
    <!-- SECTION VIDEO BACKGROUND -->
    <<section id="section55" class="p-t-120 p-b-120; background-grey">
        <div class="container">
            <div class="col-lg-8 m-b-100 center">
                <div class="heading-text heading-section text-center">
                    <h2>Neden Biz?</h2>
                    <p>
                        Tüm tüketim gruplaşmak yerine Enerjikobi orta tüketim grubuna farkındalık arttırma ve fayda sağlama amacıyla yola çıkmıştır. Bu sayede Enerjikobi, arkasındaki
                        algoritmalarla çalıştığı gruplara özelleştirilmiş çözümler sağlamaktadır.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h4 class="m-b-20">POTANSİYEL İNDİRİMLER</h4>
                    <div class="p-progress-bar-container title-up small color">
                        <div class="p-progress-bar" data-percent="17" data-delay="0" data-type="s">
                            <div class="progress-title">Hoteller</div>
                        </div>
                    </div>
                    <div class="p-progress-bar-container title-up small color">
                        <div class="p-progress-bar" data-percent="12" data-delay="100" data-type="%">
                            <div class="progress-title">Restaurantlar</div>
                        </div>
                    </div>
                    <div class="p-progress-bar-container title-up small color">
                        <div class="p-progress-bar" data-percent="15" data-delay="200" data-type="%">
                            <div class="progress-title">Barlar</div>
                        </div>
                    </div>
                    <div class="p-progress-bar-container title-up small color">
                        <div class="p-progress-bar" data-percent="8" data-delay="300" data-type="%">
                            <div class="progress-title">Kuaförler</div>
                        </div>
                    </div>
                    <div class="p-progress-bar-container title-up small color">
                        <div class="p-progress-bar" data-percent="21" data-delay="400" data-type="%">
                            <div class="progress-title">İmalathaneler</div>
                        </div>
                    </div>
                    <p class="lead">Ayda 2.000-50.000 TL arası elektrik faturası gelen işletmeler %10 üzerinde indirime ulaşabilir.</p>
                </div>
                <div class="col-lg-6">
                    <h4 class="m-b-20">SIKÇA SORULAN SORULAR</h4>
                    <div class="accordion fancy radius clean">
                        <div class="ac-item ac-active">
                            <h5 class="ac-title"><i class="fa fa-heart"></i>Hizmetiniz ücretli midir ?</h5>
                            <div class="ac-content ac-active">
                                Enerjikobi.com tüm süreç dahilinde KOBİ'lerden hiçbir ücret talep etmez.
                                <br />
                                <br /> Amacımız KOBİ'lerin bütçeleridneki enerji tüketimini minimize etmek ve uygun fiyatı sunan tedarikçilerle buluşturmaktır.
                            </div>
                        </div>
                        <div class="ac-item">
                            <h5 class="ac-title"><i class="fa fa-heart"></i>İstediğim takdirde hizmetten vazgeçebilir miyim?</h5>
                            <div class="ac-content">
                                Hizmeti istediğiz takdirde iptal edebilirsiniz.
                                <br />
                                <br /> Bu isteğiniz karşısında sizden hiçbir talebimiz olmayacaktır.
                            </div>
                        </div>

                        <div class="ac-item">
                            <h5 class="ac-title"><i class="fa fa-heart"></i>Hizmetten nasıl faydalanabilirim?</h5>
                            <div class="ac-content">
                                Tek yapmanız gereken kullanıcı profilinizi oluşturmaktır.
                                <br />
                                <br />Sonrasında sözleşmenizi Enerjikobi.com'da oluşturduğunuz takdirde tüm fatura kıyaslamaları, enerji verimliliği raporlarına ulaşabileceksiniz.
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- end: SECTION VIDEO BACKGROUND -->
    <!-- CALL TO ACTION -->
    <section class="row background-white text-center">
        <div class="container">
            <h3>ELEKTRİK FATURAMI İNCELE</h3> <a href="register.html" class="btn"><span>KAYIT OL</span></a>
        </div>
    </section>
    <!-- CALL TO ACTION -->
    <!-- ABOUT AGENT -->
    <section id="section3" class="background-grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">

                    <img alt="name" src="~/Images/name.png" class="img-fluid m-b-10">


                    <h2 class="text-medium">Name Karoğlu</h2>
                    <p>2016 yılında Bahçeşehir Üniversitesi Enerji Sistemleri Mühendisliğinden mezun olup İngiltere'nin yenilenebilir enerji dönüşüm projesinde gönüllü olarak yer almıştır. </p>
                    <p>Onlarca KOBİ'nin enerjide dijital dönüşümünde rol almaktadır.</p>
                    <div class="clear"></div>
                    <a class="read-more" href="#">Name Karoğlu ile temasa geç!</a>


                </div>
                <div class="col-lg-2">
                </div>
                <div class="col-lg-5">

                    <img alt="fahri" src="~/Images/fahri.png" class="img-fluid m-b-10">


                    <h2 class="text-medium">Fahri Aydın</h2>
                    <p>2016 yılında Bahçeşehir Üniversitesi Enerji Sistemleri Mühendisliğinden mezun olup İngiltere'nin yenilenebilir enerji dönüşüm projesinde gönüllü olarak yer almıştır. </p>
                    <p>Onlarca KOBİ'nin enerjide dijital dönüşümünde rol almaktadır.</p>
                    <div class="clear"></div>
                    <a class="read-more" href="#">Fahri Aydın ile temasa geç!</a>


                </div>
            </div>

        </div>
    </section>
    <!-- end: ABOUT AGENT -->
    <!-- COUNTERS -->
    <section id="section4" class="background-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">

                    <div class="text-center">
                        <div class="counter"> <span data-speed="3000" data-refresh-interval="33" data-to="50" data-from="0" data-seperator="true"></span> </div>
                        <div class="seperator seperator-small"></div>
                        <p>Hizmet Verdiğimiz Müşteriler</p>
                    </div>
                </div>

                <div class="col-lg-3">

                    <div class="text-center">
                        <div class="counter"> <span data-speed="3000" data-refresh-interval="500" data-to="50000" data-from="20000" data-seperator="true"></span> </div>
                        <div class="seperator seperator-small"></div>
                        <p>Toplam Enerji Hacmi</p>
                    </div>
                </div>

                <div class="col-lg-3">

                    <div class="text-center">
                        <div class="counter"> <span data-speed="3000" data-refresh-interval="44" data-to="15000" data-from="5000" data-seperator="true"></span> </div>
                        <div class="seperator seperator-small"></div>
                        <p>Müşterilerimiz Elde Ettiği Kar</p>
                    </div>
                </div>
                <div class="col-lg-3">

                    <div class="text-center">
                        <div class="counter"> <span data-speed="3000" data-refresh-interval="26" data-to="62" data-from="0" data-seperator="true"></span> </div>
                        <div class="seperator seperator-small"></div>
                        <p>Yararlanma Yüzdesi</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- end: COUNTERS -->

</div> <!-- end: Body Inner -->
<!-- Scroll top -->
<a id="scrollTop" class="scroll-to" href="body"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>

<div class="modal" id="warningModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header btn-warning">
                <h5 class="modal-title">Uyarı!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modalBody" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>

<script>
    $('#saveCustomerRequest').click(function (e) {

        //if ($('#AvarageElectricityBill').val() != "") {
        //    var avarageElectricityBill = parseFloat($('#AvarageElectricityBill').val()).toFixed(2).replace('.', ',');
        //    $('#AvarageElectricityBill').val(avarageElectricityBill);
        //}

        $("#overlay").show();

        if ($('#PhoneNumber').val() == "" && $('#Email').val() == "") {
            e.preventDefault();
            $('#modalBody').html('Lütfen iletişim bilgisini giriniz!');
            $("#overlay").hide();
            $('#warningModal').modal('show');
        }
        //else if ($('#AvarageElectricityBill').val() == "") {
        //    e.preventDefault();
        //    $('#modalBody').html('Lütfen ortalama fatura tutarını giriniz!');
        //    $('#warningModal').modal('show');
        //}
        //else if ($('input[name = Attachment1')[0] == undefined) {
        //    e.preventDefault();
        //    $('#modalBody').html('Lütfen fatura resmini yükleyiniz');
        //    $("#overlay").hide();
        //    $('#warningModal').modal('show');
        //}
        //else if ($('input[name = Attachment2')[0] == undefined) {
        //    e.preventDefault();
        //    $('#modalBody').html('Lütfen 2. fatura resmini yükleyiniz');
        //    $("#overlay").hide();
        //    $('#warningModal').modal('show');
        //}
    })

    //$('form button.add').click(function (e) {
    //    e.preventDefault();
    //    var nb_attachments = $('input[type=file]').length + 1;
    //    var $input = $('<input type="file" name=Attachment' + nb_attachments + '>');
    //    $input.on('change', function (evt) {
    //        var f = evt.target.files[0];
    //        $('form').append($(this));
    //        $('ul.list').append('<li id="lifile' + nb_attachments + '"' + 'class="item">' + f.name + '(' + f.size + ')&nbsp;<span id="removeFile' + nb_attachments + '"' + 'class="badge badge-danger">Remove</span></li>');
    //    });
    //    $input.hide();
    //    $input.trigger('click');
    //});

    //$(document).on('click', '.badge-danger', function () {
    //    var id = $(this)[0].id;
    //    var order = id.split('removeFile')[1];
    //    $('#lifile' + order).remove();
    //    $('input[name = Attachment' + order + ']').remove();
    //});

    $("#PhoneNumber").mask("(999) 999-9999");

    if ('@TempData["IsModalOpen"]' == 'true') {
        Swal.fire({
            icon: 'success',
            width: 600,
            title: 'Talebiniz alındı. En kısa sürede sizinle iletişime geçeceğiz.',
            showConfirmButton: false,
            timer: 3000
        })
    }

</script>