@{
    ViewBag.Title = "Home Page";
}

<div id="slider" class="inspiro-slider dots-creative" data-height-xs="360" data-autoplay="2600" data-animate-in="fadeIn" data-animate-out="fadeOut" data-items="1" data-loop="true" data-autoplay="true">
    <!-- Slide 1 -->
    <div class="slide" style="background-image:url('/Images/1.jpg');">
        <div class="container">
            <div class="slide-captions">
                <!-- Captions -->
                <h2 class="text-uppercase text-medium">Elektrik Faturanızda <br />%15 İndirim</h2>
                <p class="lead">
                    Yüksek tüketiminizi tedarikçilerle sözleşmede<br /> avantaja çeviriyoruz.
                    <!-- end: Captions -->
            </div>
        </div>
    </div>
    <!-- end: Slide 1 -->
    <!-- Slide 2 -->
    <div class="slide" style="background-image: url('/Images/2.jpg');">
        <div class="container">
            <div class="slide-captions">
                <!-- Captions -->
                <h2 class="text-uppercase text-medium no-margin">Tarife Danışmanlığı</h2>
                <br />
                <p class="lead">
                    Tüketim profilinizi inceleyip en uygun tarifeyi belirliyoruz.
                    <br />Faturalarınızda tasarruf sağlıyoruz
                </p>
                <!-- end: Captions -->
            </div>
        </div>
    </div>
    <!-- end: Slide 2 -->
</div>
<!--end: Inspiro Slider -->
<!-- FORM -->
<div class="background-grey">
    <div class="container p-t-60 p-b-60">
        <div class="row">
            <div class="container">
                <div class="row">

                    <div class="col text-dark p-40">
                        <div class="text-medium text-center">TARİFE DANIŞMANLIK HİZMETİ</div>
                        <div class="text-small text-center">Aşağıdaki formu doldurun ve elektrik faturanızda %15'e varan indirimden faydalanın.</div>
                        </br></br></br>

                        @using (Html.BeginForm("CustomerRequest", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="name">Ad</label>
                                    <input type="text" aria-required="true" name="FirstName" class="form-control" placeholder="Adınızı Giriniz">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="email">Soyad</label>
                                    <input type="text" aria-required="true" name="LastName" class="form-control" placeholder="Soyadınızı Giriniz">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="subject">Telefon Numarası</label>
                                    <input type="text" name="PhoneNumber" class="form-control" placeholder="Telefon Numaranızı Giriniz">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="subject">Şirket</label>
                                    <input type="text" name="CompanyName" class="form-control" placeholder="Şirketinizin Adını Giriniz">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="subject">Aylık Ortalama Elektrik Faturanız</label>
                                    <input type="text" name="AvarageElectricityBill" class="form-control" placeholder="Aylık Ortalama Elektrik Faturanızı Giriniz">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="gender">Abone Grubu</label>
                                    <select class="form-control" name="SubscriberGroupId" required>
                                        <option value="">Abone Grubunuzu Seçiniz </option>
                                        <option value="1">İş Yeri</option>
                                        <option value="2">Sanayi</option>
                                        <option value="3">Mesken</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-row">
                                    <div class="form-group">
                                        <label for="telephone">Son Elektrik Faturanızın Resmini Yükleyiniz</label>
                                        <input type="file" name="ElectricityBillDocument" />
                                    </div>
                                </div>

                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-lg">Formu İlet</button>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- end: FORM -->
    <!-- PROPERTY FEATURES -->
    <section id="section2" class="p-t-100">
        <div class="container">
            <div class="heading-text heading-section text-center">
                <h2>Nasıl Çalışır?</h2>
                <span class="lead">Dijitalleştirilmiş ve kolaylaştırılmış sözleşme değişimini sağlıyoruz.</span>
            </div>
            </br>

            <div class="row">
                <div class="col-lg-4">
                    <div class="icon-box effect medium square color">
                        <div class="icon"> <a href="#"><i class="fa fa-home"></i></a> </div>
                        <h3>Fatura Bilgisi</h3>
                        <p>Fatura bilginizi veya fotoğrafını bizimle paylaşın.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="icon-box effect medium square color">
                        <div class="icon"> <a href="#"><i class="fa fa-bed"></i></a> </div>
                        <h3>İnceleme</h3>
                        <p>Enerji uzmanlarımız tüketiminizi sizin için analiz etsin.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="icon-box effect medium square color">
                        <div class="icon"> <a href="#"><i class="fa fa-calendar"></i></a> </div>
                        <h3>Uygun Teklifler</h3>
                        <p>Tüketim projeksiyonuna en uygun teklifleri sizin için toplayalım.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="icon-box effect medium square color">
                        <div class="icon"> <a href="#"><i class="fa fa-car"></i></a> </div>
                        <h3>Tarife Analizi</h3>
                        <p>Tüketim trendinizi inceleyelim ve uygun tarifeyi belirleyelim.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="icon-box effect medium square color">
                        <div class="icon"> <a href="#"><i class="fa fa-h-square"></i></a> </div>
                        <h3>Raporlama</h3>
                        <p>Her ay fatura verilerinizi inceleyerek elde ettiğiniz karı ve potansiyelinizi size bildirelim.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="icon-box effect medium square color">
                        <div class="icon"> <a href="#"><i class="fa fa-wheelchair"></i></a> </div>
                        <h3>Hizmet Alımı</h3>
                        <p>Bu analizlerle sizleri hizmet alacağınız elektirik tedarik firmanizla buluşturalım.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end: PROPERTY FEATURES -->
    <!-- SECTION VIDEO BACKGROUND -->
    <<section id="section55" class="p-t-120 p-b-120; background-grey">
        <div class="container">
            <div class="col-lg-8 m-b-100 center">
                <div class="heading-text heading-section text-center">
                    <h2>Neden Biz?</h2>
                    <p>
                        Tüm tüketim gruplaşmak yerine Enerjikobi orta tüketim grubuna farkındalık arttırma ve fayda sağlama amacıyla yola çıkmıştır. Bu sayede Enerjikobi, arkasındaki
                        algoritmalarla çalıştığı gruplara özelleştirilmiş çözümler sağlamaktadır.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h4 class="m-b-20">POTANSİYEL İNDİRİMLER</h4>
                    <div class="p-progress-bar-container title-up small color">
                        <div class="p-progress-bar" data-percent="17" data-delay="0" data-type="s">
                            <div class="progress-title">Hoteller</div>
                        </div>
                    </div>
                    <div class="p-progress-bar-container title-up small color">
                        <div class="p-progress-bar" data-percent="12" data-delay="100" data-type="%">
                            <div class="progress-title">Restaurantlar</div>
                        </div>
                    </div>
                    <div class="p-progress-bar-container title-up small color">
                        <div class="p-progress-bar" data-percent="15" data-delay="200" data-type="%">
                            <div class="progress-title">Barlar</div>
                        </div>
                    </div>
                    <div class="p-progress-bar-container title-up small color">
                        <div class="p-progress-bar" data-percent="8" data-delay="300" data-type="%">
                            <div class="progress-title">Kuaförler</div>
                        </div>
                    </div>
                    <div class="p-progress-bar-container title-up small color">
                        <div class="p-progress-bar" data-percent="21" data-delay="400" data-type="%">
                            <div class="progress-title">İmalathaneler</div>
                        </div>
                    </div>
                    <p class="lead">Ayda 2.000-50.000 TL arası elektrik faturası gelen işletmeler %10 üzerinde indirime ulaşabilir.</p>
                </div>
                <div class="col-lg-6">
                    <h4 class="m-b-20">SIKÇA SORULAN SORULAR</h4>
                    <div class="accordion fancy radius clean">
                        <div class="ac-item ac-active">
                            <h5 class="ac-title"><i class="fa fa-heart"></i>Hizmetiniz ücretli midir ?</h5>
                            <div class="ac-content ac-active">
                                Enerjikobi.com tüm süreç dahilinde KOBİ'lerden hiçbir ücret talep etmez.
                                <br />
                                <br /> Amacımız KOBİ'lerin bütçeleridneki enerji tüketimini minimize etmek ve uygun fiyatı sunan tedarikçilerle buluşturmaktır.
                            </div>
                        </div>
                        <div class="ac-item">
                            <h5 class="ac-title"><i class="fa fa-heart"></i>İstediğim takdirde hizmetten vazgeçebilir miyim?</h5>
                            <div class="ac-content">
                                Hizmeti istediğiz takdirde iptal edebilirsiniz.
                                <br />
                                <br /> Bu isteğiniz karşısında sizden hiçbir talebimiz olmayacaktır.
                            </div>
                        </div>

                        <div class="ac-item">
                            <h5 class="ac-title"><i class="fa fa-heart"></i>Hizmetten nasıl faydalanabilirim?</h5>
                            <div class="ac-content">
                                Tek yapmanız gereken kullanıcı profilinizi oluşturmaktır.
                                <br />
                                <br />Sonrasında sözleşmenizi Enerjikobi.com'da oluşturduğunuz takdirde tüm fatura kıyaslamaları, enerji verimliliği raporlarına ulaşabileceksiniz.
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- end: SECTION VIDEO BACKGROUND -->
    <!-- CALL TO ACTION -->
    <section class="row background-white text-center">
        <div class="container">
            <h3>ELEKTRİK FATURAMI İNCELE</h3> <a href="register.html" class="btn"><span>KAYIT OL</span></a>
        </div>
    </section>
    <!-- CALL TO ACTION -->
    <!-- ABOUT AGENT -->
    <section id="section3" class="background-grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">

                    <img alt="name" src="images/name.png" class="img-fluid m-b-10">


                    <h2 class="text-medium">Name Karoğlu</h2>
                    <p>2016 yılında Bahçeşehir Üniversitesi Enerji Sistemleri Mühendisliğinden mezun olup İngiltere'nin yenilenebilir enerji dönüşüm projesinde gönüllü olarak yer almıştır. </p>
                    <p>Onlarca KOBİ'nin enerjide dijital dönüşümünde rol almaktadır.</p>
                    <div class="clear"></div>
                    <a class="read-more" href="#">Name Karoğlu ile temasa geç!</a>


                </div>
                <div class="col-lg-2">
                </div>
                <div class="col-lg-5">

                    <img alt="fahri" src="images/fahri.png" class="img-fluid m-b-10">


                    <h2 class="text-medium">Fahri Aydın</h2>
                    <p>2016 yılında Bahçeşehir Üniversitesi Enerji Sistemleri Mühendisliğinden mezun olup İngiltere'nin yenilenebilir enerji dönüşüm projesinde gönüllü olarak yer almıştır. </p>
                    <p>Onlarca KOBİ'nin enerjide dijital dönüşümünde rol almaktadır.</p>
                    <div class="clear"></div>
                    <a class="read-more" href="#">Name Karoğlu ile temasa geç!</a>


                </div>
            </div>

        </div>
    </section>
    <!-- end: ABOUT AGENT -->
    <!-- COUNTERS -->
    <section id="section4" class="background-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">

                    <div class="text-center">
                        <div class="counter"> <span data-speed="3000" data-refresh-interval="33" data-to="50" data-from="0" data-seperator="true"></span> </div>
                        <div class="seperator seperator-small"></div>
                        <p>Hizmet Verdiğimiz Müşteriler</p>
                    </div>
                </div>

                <div class="col-lg-3">

                    <div class="text-center">
                        <div class="counter"> <span data-speed="3000" data-refresh-interval="500" data-to="50000" data-from="20000" data-seperator="true"></span> </div>
                        <div class="seperator seperator-small"></div>
                        <p>Toplam Enerji Hacmi</p>
                    </div>
                </div>

                <div class="col-lg-3">

                    <div class="text-center">
                        <div class="counter"> <span data-speed="3000" data-refresh-interval="44" data-to="15000" data-from="5000" data-seperator="true"></span> </div>
                        <div class="seperator seperator-small"></div>
                        <p>Müşterilerimiz Elde Ettiği Kar</p>
                    </div>
                </div>
                <div class="col-lg-3">

                    <div class="text-center">
                        <div class="counter"> <span data-speed="3000" data-refresh-interval="26" data-to="62" data-from="0" data-seperator="true"></span> </div>
                        <div class="seperator seperator-small"></div>
                        <p>Yararlanma Yüzdesi</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- end: COUNTERS -->
    <!-- FOOTER -->
    <footer id="footer">
        <div class="footer-content">
            <div class="container">

                <div class="row">
                    <div class="col-md-4">
                        <div class="icon-box effect small clean">
                            <p>
                                <strong>© 2020 konutelektrigi.com</strong>
                                <br> Bir Massive Energy hizmetidir.
                                <br> <a href="https://www.massivenergy.com" target="_blank">massivenergy.com</a>
                                <br>
                                <br>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="icon-box effect small clean">
                            <div class="icon">
                                <a href="#"><i class="fas fa-map-marker-alt"></i></a>
                            </div>
                            <h3>Adres</h3>
                            <p>
                                <strong>Bilgiyi Ticarileştirme Merkezi</strong>
                                <br> Fulya Mahallesi Yeşilçimen Sokak
                                <br> Polat Tower Bağımsız Bölüm, D:430
                                <br> Şişli/İstanbul
                                <br>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="icon-box effect small clean">
                            <div class="icon">
                                <a href="#"><i class="icon-phone"></i></a>
                            </div>
                            <h3>İletişim Bilgileri</h3>
                            <p>
                                <strong>Telefon:</strong>
                                <br> (123) 456-7890
                                <br>
                                <strong>Mail:</strong>
                                <br> info@massivenergy.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <!-- Social icons -->
                        <div class="social-icons social-icons-colored float-left">
                            <ul>
                                <li class="social-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
                                <li class="social-facebook"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="social-twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li class="social-vimeo"><a href="#"><i class="fab fa-vimeo"></i></a></li>
                                <li class="social-youtube"><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li class="social-pinterest"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                <li class="social-gplus"><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                        <!-- end: Social icons -->
                    </div>

                </div>
            </div>
        </div>
    </footer>

</div> <!-- end: Body Inner -->
<!-- Scroll top -->
<a id="scrollTop" class="scroll-to" href="body"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
